* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Montserrat";
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
}

.header-navigation {
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    margin-left: 330px;
}

.header-menu-item {
    display: inline-block;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.header-menu-item:not(:first-child):not(:last-child) {
    margin-left: 72px;
}

.header-menu-item:last-child {
    margin-left: 50px;
}

.header-menu-item:hover {
    color: #eb9898;
}

.main-content {
    padding: 48px 67.5px 42px 67.5px;
}

.main-content-title {
    margin-bottom: 38px;

    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.main-content-information {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.beginning {
    margin-bottom: 28px;
}

.ending {
    margin-bottom: 66px;
}

.main-content-button {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 18px 43px;

    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: #FF0000;
    border-radius: 4px;
}

.btn:hover {
    background-color: #eb9898;
}

.footer-info {
    padding-top: 40px;
    padding-bottom: 29px;
    padding-left: 713px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}